.layout.top-bar {
  margin: 0;
  background: #5CB1BA;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.layout.top-bar a {
  color: white;
}

.layout.top-bar .section:last-child {
  text-align: left;
  text-decoration: none;
}

.title {
  margin: 0;
  font-size: 20px;
}

.login-form {
  margin: 120px auto;
  width: 300px;
  text-align: center;
  display: grid;
  font-family: 'Roboto', sans-serif;
}

.label {
  text-align: left;
  margin: 5px 0;
}

.input-field {
  padding: 20px 5px;
  font-size: 12px;
  border-radius: 3px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  padding: 12px 28px;
  border-radius: 4px;
  background-color: #5CB1BA;
  color: white;
  text-decoration: none;
  width: 50%;
  font-size: 15px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  opacity: 60%; 
}