.layout.top-bar {
  margin: 0;
  background: #5CB1BA;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.layout.top-bar .wrapper {
  display: flex;
  padding: 16px 0;
}

.layout.top-bar .section {
  flex: 50%;
}

.layout.top-bar a {
  color: white;
}

.layout.top-bar .section:last-child {
  text-align: right;
}

.title {
  margin: 0;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

.link:hover {
  opacity: 60%; 
}